/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Shadcn stuff is below */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/*
 * react-calendar-heatmap styles
 *
 * All of the styles in this file are optional and configurable!
 * The github and gitlab color scales are provided for reference.
 */

.react-calendar-heatmap text {
  font-size: 12px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/*
 * Default color scale
 */

.react-calendar-heatmap .color-empty {
  fill: #eeeeee;
}

.react-calendar-heatmap .color-filled {
  fill: #8cc665;
}

/* Light heatmap theme styles */
.react-calendar-heatmap .color-gh-light-0 {
  fill: #eeeeee; /* Light gray */
}

.react-calendar-heatmap .color-gh-light-1 {
  /* fill: #d6e685; Light green */
  fill: #a3b18a; /* Light green */
}

.react-calendar-heatmap .color-gh-light-2 {
  /* fill: #8cc665; Olive green */
  fill: #588157; /* Olive green */
}

.react-calendar-heatmap .color-gh-light-3 {
  /* fill: #44a340; Sea green */
  fill: #3a5a40; /* Sea green */
}

.react-calendar-heatmap .color-gh-light-4 {
  /* fill: #1e6823; Dark green */
  fill: #17221c; /* Dark green */
}

/* Dark heatmap theme styles */
.react-calendar-heatmap .color-gh-dark-0 {
  fill: rgb(15, 19, 26); /* Dark gray */
}

.react-calendar-heatmap .color-gh-dark-1 {
  fill: #354a34; /* Dark green */
}

.react-calendar-heatmap .color-gh-dark-2 {
  fill: #4d683f; /* Dark olive green */
}

.react-calendar-heatmap .color-gh-dark-3 {
  fill: #6f8d60; /* Dark sea green */
}

.react-calendar-heatmap .color-gh-dark-4 {
  fill: #a1bfa5; /* Light green */
}
